[lang="ar"]{
    *{
        direction: rtl;
    }

    .header-1 .header-right .category-oneadjust .search-toggle-box{
        margin-left: 14px !important;
    }
    .nice-select::after ,.nice-select:after{
        left: 10px  !important;
        right: 96%;
    }
    .shop-default-wrapper .main-sidebar .single-sidebar-widget .product-status .nice-select::after{
        left: 10px  !important;
        right: 96%;
    }

    // .price-input{
    //     display: flex;
    //     flex-direction: row-reverse;
    // }
    .shop-default-wrapper .main-sidebar .single-sidebar-widget .search-icon{
        
        right: 89% !important;
        
    }
    .modal-dialog .close-btn {
        position: absolute !important;
        top: 1% !important;
        right: 94% !important;
        z-index: 5 !important;
    }
  
}


.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: none;
}
.form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;   
}


 // overlay for update image in profile
 .profile-image {
    cursor: pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex
;
    align-items: center;
  }

  .position-relative {
    position: relative;
  }

  .overlay {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    opacity: 0;
    display: flex;
   
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  .upload-btn {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
  }
  .position-relative:hover .overlay {
    opacity: 1;
  }

//   .overlay input {
//     display: none;
//   }


